<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="LoginLogoutFlow">
    <classes>
      <class name="com.getplus.automation.tests.Test.LoginTest"/>
      <class name="com.getplus.automation.tests.Test.LogoutTest"/>
    </classes>
   </test>
    
  <test name="InAppScanFilter">
  	<classes>
  		<class name="com.getplus.automation.tests.Test.LoginTest"/>
  		<class name="com.getplus.automation.tests.Test.InAppScanTest"/>
  	</classes>
  </test>
</suite> <!-- Suite -->
